body {
  background-color: #f8f9fa;
}

.vendor-banner {
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  margin: 20px;
}

/* Carousel image fix */
.vendor-banner .carousel-item {
  height: 300px;
}

.banner-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

/* Dark overlay on images */
.vendor-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* Overlay text */
.banner-text {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 25px;
  color: white;
  border-radius: 12px;
}

.banner-text h2 {
  font-weight: 700;
}

.banner-text p {
  margin-bottom: 10px;
}


/* Section title */
.section-title {
  border-left: 5px solid green;
  padding-left: 10px;
  font-weight: 600;
}

/* Stat cards */
.stat-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card i {
  font-size: 35px;
  color: green;
}

/* Product card */
.product-card img {
  height: 180px;
  object-fit: cover;
}
