
.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-nav.me-auto {
  flex: 1;
}


.navbar form {
  flex: 2;
  display: flex;
  justify-content: center;
  padding-left: 70px;
}

.navbar-nav.ms-auto {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}


.navbar-brand img {
  height: 60px;
  width: auto;
}

.navbar-nav li {
  list-style: none ;
}


.carousel-inner img {
  height: 450px;
  object-fit: cover;
}


.card-img-top {
  height: 220px;
  object-fit: cover;
}
.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 6px 18px black;
}


.dropdown-menu {
  min-width: 200px;
  border-radius: 10px;
}
.dropdown-menu .btn {
  border-radius: 8px;
  font-weight: 500;
}


#cart{
  position: absolute;
  right: 100px;
}