/* Make carousel full screen */
#bgCarousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
}

/* Dark overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* Center login form */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Card styling */
.login-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  width: 380px;
  border-radius: 15px;
  backdrop-filter: blur(6px);
}

.form-control:focus {
  box-shadow: none;
  border-color: #198754;
}
.nav-pills .nav-link.active {
  background-color: #198754;
}

.nav-pills .nav-link {
  color: #198754;
  font-weight: 500;
}
